//Paleta de colores

$beige:#f7e6d3;
$marron:#553A26;
$celeste: #92B5C3;
$tiza:#c0baba;

//Tipografia

$fontNav:"Spectral SC", serif;
$fontTitulo: "Great Vibes", cursive;
$fontPUno:"Nunito Sans", sans-serif;
$fontPDos:"Merriweather", serif;

//Estilo iconos footer
