/* Responsive */
/* Mobile */
@media (max-width: 480px){
    /* header */
    body{
        header{
            .encabezado{
                align-items: center;
                .logo{
                    width: 100px;
                    height: auto;
                }
                h1{
                    font-size: 4rem;
                }
            }
            nav{
                ul{
                    padding: 0%;
                }
            }
        }
        main{
            h2{
                font-size: 2rem;
            }
            #sobre_nosotros{
                grid-template-areas:
                "titulo_seccion"
                "panaderia"
                "presentacion"
                "enumeracion"
                "manga"
                "despedida";
                grid-template-columns: 1fr;
                grid-template-rows: 100px 200px 120px 150px 150px 160px;
                font-size: 1rem;
                margin: 20px 20px 0px 30px;
                .panaderia{
                    width: 80%;
                }
                .manga{
                    width: 90%;
                }
                .despedida{
                    font-size: 150%;
                }
            }
        }
    }
            /*Productos*/
    body{
        main{
            section{
                .titulo_productos{
                    text-align:left;
                }
                h3{
                    margin-left: 10px;
                }
                .art_tortas{
                    grid-template-areas:
                    "titulo_torta"
                    "torta"
                    "texto_torta"
                    "precio";
                    grid-template-columns: 1fr;
                    grid-template-rows: 50px 220px 150px 80px;
                    font-size: 1rem;
                    justify-items: center;
                    .texto_cierre{
                        display: none;
                    }
                    .torta{
                        width: 70%;
                    }
                }
            }
        }
    }
            /* Ubicaciones */
    body{
        main{
            div{
                h4{
                    margin-left: 5px;
                }
                .mapa{
                    margin: 0px;
                    width: auto;
                }
            }
        }
    }
        /* Footer */
    body{
        footer{
            justify-content: space-around;
            padding: 0%;
            p{
                display: none;
            }
        };
    }
}

@media (min-width: 481px) and (max-width: 978px){
     /* header */
    body{
        header{
            .encabezado{
                align-items: center;
                .logo{
                    width: 150px;
                    height: auto;
                }
                h1{
                    font-size: 5rem;
                }
            }
            nav{
                ul{
                    padding: 0%;
                }
            }
        }
         main{
            h2{
                font-size: 1.8rem;
            }
            #sobre_nosotros{
                grid-template-areas:
                "titulo_seccion"
                "panaderia"
                "presentacion"
                "enumeracion"
                "manga"
                "despedida";
                grid-template-columns: 1fr;
                grid-template-rows: 100px 280px 180px 180px 250px 180px;
                font-size: 1.3rem;
                margin: 20px 20px 10px 30px;
                .panaderia{
                    width: 60%;
                }
                .manga{
                    width: 60%;
                }
                .despedida{
                    font-size: 150%;
                }
            }
        }
    }
    /*Productos*/
    body{
        main{
            section{
                h3{
                    margin-left: 10px;
                }
                .art_tortas{
                    grid-template-areas:
                    "titulo_torta"
                    "torta"
                    "texto_torta"
                    "precio";
                    grid-template-columns: 1fr;
                    grid-template-rows: 100px 220px 120px 100px;
                    font-size: 1rem;
                    justify-items: center;
                    .texto_cierre{
                        display: none;
                    }
                    .torta{
                        width: 50%;
                    }
                }
            }
        }
    }
        /* Footer */
    body{
        footer{
            justify-content: space-around;
            padding: 1%;
        };
    }
}